html {
    background-color: rgb(59 0 175);
    color: white;
}

.intro {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#reos {
    width: 200px;
    animation: glitch 1s linear infinite;
}

#reos2 {
    cursor: pointer;
    width: 125px;
    transition: 0.3s;
}

#reos2:hover {
    opacity: 60%;
    transition: 0.3s;
}

#reos3 {
    width: 60px;
    float: right;
}

.top {
    width: 87%;
    margin-bottom: -20px;
}

#reosinsta{
    text-decoration: none;
    color: white;
    animation: light 0.7s linear infinite;
}

.works {
    margin-top: 1%;
    text-align: -webkit-center;
    animation: show 0.6s linear;
}

.box {
    display: inline-flex;
    width: 500px;
    height: 500px;
    padding: 55px;
    border: 1px black;
}

.content {
    animation: show 0.6s linear;
}

.contact {
    margin-top: 2%;
    margin-bottom: 5%;
}

.data {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 11px;
    cursor: context-menu;
    font-family: 'Big Shoulders Display', cursive;
}

.goToTop{
    margin-top: 65px;
    margin-bottom: 70px;
    font-size: 60px;
    cursor: pointer;
    transition: 0.2s;
}

.goToTop:hover{
    text-shadow: 0 0 20px white;
    transition: 0.2s;
}

.miniIMG {
    width: 40px;
    vertical-align: sub;
}

.back {
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    background-color: transparent;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    letter-spacing: 10px;
    transition: 0.5s;
}

.back:hover {
    color: rgb(59 0 175);
    background-color: white;
    border-bottom-left-radius: 75%;
    border-top-left-radius: 75%;
    padding-right: 10px;
    transition: 0.5s;
}

.title {
    font-size: 70px;
    letter-spacing: 8px;
    text-align: -webkit-center;
    cursor: context-menu;
    font-family: 'Big Shoulders Display', cursive;
}

.images {
    margin: auto;
    width: 60%;
    height: auto;
    margin-top: 60px;
    text-align: -webkit-center;
}

.img {
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px black;
    transition: 0.2s;
}

.img:hover {
    box-shadow: 0px 0px 12px 4px black;
    transition: 0.2s;
}

.img2 {
    width: 70%;
    border: 1px solid black;
    cursor: context-menu;
    transition: 0.5s;
}

.img2:hover {
    width: 100%;
    transition: 2s;
}

.ponch {
    text-align: center;
    width: 85px;
    background-color: #00000066;
    padding: 7px;
    font-size: 21px;
    letter-spacing: 2px;
    margin-top: 90px;
    font-family: 'Big Shoulders Display', cursive;
}

#ponchA {
    color: cyan;
    font-weight: bold;
    text-decoration: none;
    animation: ponch 0.5s linear infinite;
    font-family: 'Big Shoulders Display', cursive;
    transition: 1s;
}


#ponchA:hover {
    animation: none;
    text-shadow: 0px 0px 7px cyan;
    transition: 1s;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .box {
        width: 300px;
        height: 300px;
        padding: 0px;
        padding-top: 30px;
    }
    #reos {
        animation: glitch 1s linear infinite;
    }
    #reos2 {
        width: 40%;
    }
    #reos3{
        width: 50px;
    }
    .data {
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 27px;
    }
    .images {
        display: inline-block;
        margin-top: 20px;
        width: 100%;
    }
    .title {
        margin: auto;
        width: 60%;
        margin-top: 45px;
        font-size: 30px;
    }
    .img2 {
        width: 85%;
    }
    .img2:hover {
        width: 85%;
    }
    .back {
        margin-top: 12px;
        font-size: 25px;
    }
    .miniIMG{
        width: 34px;
    }
    .ponch{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 63px;
        font-size: 13px;
    }
}

@keyframes light {
    0%{
        text-shadow: 0 0 10px white;
    }
    50%{
        text-shadow: 0 0 0px white;
    }
    100%{
        text-shadow: 0 0 10px white;
    }
}

@keyframes glitch {
    0% {
        opacity: 100%;
    }
    10% {
        width: 250px;
        opacity: 0%;
    }
    20% {
        opacity: 100%;
    }
    28% {
        width: 250px;
    }
    30% {
        width: 350px;
        opacity: 100%;
    }
    32% {
        width: 250px;
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }
    50% {
        opacity: 100%;
        margin-left: 0px;
    }
    53% {
        margin-left: 70px;
    }
    54% {
        margin-left: 0px;
    }
    60% {
        opacity: 100%;
        margin-top: 0px;
        margin-left: 0px;
        width: 250px;
        filter: none;
    }
    63% {
        filter: invert(32%) sepia(91%) saturate(7496%) hue-rotate(355deg) brightness(93%) contrast(120%);
        margin-top: 30px;
        margin-left: 30px;
        width: 400px;
    }
    65% {
        filter: invert(32%) sepia(91%) saturate(7496%) hue-rotate(355deg) brightness(93%) contrast(120%);
        width: 250px;
        margin-top: 0px;
        margin-left: 0px;
    }
    70% {
        width: 250px;
        filter: none;
        opacity: 100%;
    }
    80% {
        opacity: 100%;
        margin-bottom: 0px;
        margin-right: 0px;
        width: 250px;
        filter: none;
    }
    83% {
        filter: invert(47%) sepia(13%) saturate(3393%) hue-rotate(211deg) brightness(82%) contrast(96%);
        margin-bottom: 30px;
        width: 400px;
        margin-right: 30px;
    }
    85% {
        filter: invert(47%) sepia(13%) saturate(3393%) hue-rotate(211deg) brightness(82%) contrast(96%);
        width: 250px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    90% {
        filter: none;
        opacity: 0%;
    }
    100% {
        width: 200px;
        opacity: 100%;
    }
}

@keyframes show {
    0% {
        opacity: 0%;
    }
    20% {
        opacity: 20%;
    }
    40% {
        opacity: 40%;
    }
    60% {
        opacity: 60%;
    }
    80% {
        opacity: 80%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes ponch {
    0% {
        text-shadow: 0px 0px rgb(255, 255, 255);
    }
    20% {
        text-shadow: 0px -5px white;
    }
    80% {
        text-shadow: 0px 5px white;
    }
    100% {
        text-shadow: 0px 0px white;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #7a7a7a00;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}
